.corpo{height: 300px;
top: -1em;
position: relative;
left: 29px;}


.btnEnviar {
    width: 30%;
    height: 83px;
    background: #808080;
    border: 0;
    border-radius: 0 8px 8px 0;
    color: #fff;
    font-size: 1.4em;
    font-weight: 600
}

.btnEnviar {
    border-radius: 8px !important;
    background-size: 60% 80%;
    background-position: 50% 50%
}

.btnEnviar {
    border-radius: 8px;
    height: 50px;
    margin-left: 10px
}

.btnEnviar:hover {
    cursor: pointer
}

.box {
        max-width: 883px;
        width: auto !important;
        margin-left: 15px !important;
        margin-right: 15px !important
    }


.box.box1 {
        width: 85% !important;
        margin: 0 auto !important
    }
    .box.box1 {
        margin-bottom: 60px
    }
    .box.box1 table td,
    .box table th {
        font-size: 16px
    }

.box h1 {
        font-size: 2.1em !important
    }
    
}
    .box.box1 {
        margin: 0 15px 0 15px !important;
        height: 180px;
        width: 45%
    }
    .box.box1.togo {
        margin: 20px 15px 0 15px !important;
        width: 45%
    }
    .box.box1.togo-unique {
        margin: 20px 15px 0 15px !important;
        width: 45%
    }
    .box {
        background: url(css/images/transparent.png) 0 0;
        padding: 25px;
        clear: both;
        position: relative
    }

.conteudo{}

.logo {
    width: 108px;
    height: 59px;
    float: left;
    margin-top: 10px
}
.logo a {
    display: block;
    background: url(css/images/logo.fw.png) no-repeat 0 0;
    background-size: 75%;
    background-position: 0 50%;
    width: 105px;
    height: 76px
}

.shell {
    max-width: 923px;
    margin: 0 auto
}


#esconder{margin:0 auto;}
#exibir{margin:0 auto;}

.procura{position: relative;top: 10px;}

.menu {
    background: #D95642;
    min-height: 110px;
    position: relative;
    z-index: 1000
}

.menu {
    list-style: none
}
.menu li {
    color: #fff;
    display: none;
    font-size: 15px;
    font-weight: 600;
    line-height: 60px
}
.menu li.active {
    display: block
}

.rodape {
    height: auto;
    width: 100%;
    clear: both;
    overflow: hidden;
    background: #333
}

.rodape .internal-links .list-link,
.rodape .left .list-link {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 165px;
    align-content: space-between
}
.rodape .internal-links .internal-link,
.rodape .left .internal-link {
    display: inline-block;
    width: 175px;
    height: 31px;
    background: #5a5a5a;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 1px;
    color: #fff;
    box-sizing: border-box;
    padding: 6px
}
.rodape .internal-links .internal-link a,
.rodape .left .internal-link a { /**/
    color: #fff
}
.rodape .internal-links .internal-link input[type='radio'],
.rodape .left .internal-link input[type='radio'] { /**/
    display: none
}
.rodape .internal-links  h3,
.rodape .left .simple h3 { /**/
    margin-bottom: 6px
}
.rodape .internal-links .list-link,
.rodape .left .list-link { /**/
    display: inline
}
.rodape .internal-links .internal-link,
.rodape .left .internal-link { /**/
    display: inline;
    background: transparent;
    margin: 0;
    text-align: center;
    line-height: 2.5em;
    padding: 0
}
.rodape .internal-links .internal-link a,
.rodape .left .internal-link a { /**/
    color: #fff
}
.rodape .internal-links .internal-link::after,
.rodape .left .internal-link::after { /**/
    content: '|';
    padding: 0 5px
}
.rodape .internal-links .internal-link:last-child::after,
.rodape .left .internal-link:last-child::after { /**/
    content: ''
}
.rodape .internal-links {
    margin-top: 30px
}
.rodape .internal-links,
.rodape .internal-links { /**/
    display: block;
    margin: 38px 0 0
}
.rodape .internal-links h3 { /**/
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    margin-bottom: 12px
}
.rodape .left { /**/
    padding-bottom: 32px;
    padding-top: 28px;
    width: 70%
}
.rodape .left .rodape-logo { /**/
    float: left;
    margin: 35px;
    padding-right: 27px
}
.rodape p { /**/
    clear: both;
    color: #fff;
    font-size: 10px
}
.rodape .right { /**/
    padding-bottom: 20px;
    width: 30%
}
.	 .right p { /**/
    text-align: right
}

.carregarLupa{
	height: 22px;
	width: 22px;
	background-image: url("../img/icones/eye.png");
	background-repeat: no-repeat;
	float: left;
	display: block;
    outline: none;
    padding: 10px 11px 13px 11px;
}